<h2>Productos Seleccionados</h2>
<div class="container mb-2 ">
  <div class="row">
    <div class="col">
      <div class="products_card">
        <img src="/images/iphone.jpg" height="200" width="200" alt="iphone 17 pro">
        <h3>Iphone 17 pro</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="price">Price: $1000</div>
        <button class="submit"> Add To Cart</button>
      </div>
    </div>
    <div class="col">
      <div class="products_card">
        <img src="/images/iphone.jpg" height="200" width="200" alt="iphone 17 pro">
        <h3>Iphone 17 pro</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="price">Price: $1000</div>
        <button class="submit"> Add To Cart</button>
      </div>
    </div>
    <div class="col">
      <div class="products_card">
        <img src="/images/iphone.jpg" height="200" width="200" alt="iphone 17 pro">
        <h3>Iphone 17 pro</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="price">Price: $1000</div>
        <button class="submit"> Add To Cart</button>
      </div>
    </div>
  </div>
</div>
