<h1 class="text-h1 d-flex justify-content-center">Iphone 17 pro</h1>
<div class="container mb-2">
    <div class="d-flex">
      <div class="imagen d-flex rounded shadow p-3 bg-white border-radius">
        <img class="rounded"src="/images/iphone.jpg" alt="iphone 17 pro" height="400" width="400">
        <!-- <i id="zoom" class="fas fa-search-plus fs-1"></i> -->
      </div>
      <div>
        <div class="product_card mb-2 p-3 bg-light border">
          <h3>Iphone 17 pro</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="price">Price: $1000</div>
          <button class="submit btn btn-success mb-2"> Add To Cart</button>
        </div>
        <div class=" mb-2 p-3 bg-light border">
          <div class="warranty d-flex ">
            <i class="fa-solid fa-check-double fs-4"></i>
            <p>Warranty 2 years</p>
          </div>
          <div class="delivery d-flex">
            <i class="fa-solid fa-truck-fast"></i>
            <p>Delivery Tomorrow</p>
          </div>
          <div class="shop d-flex">
            <i class="fa-solid fa-shop"></i>
            <p>Sell and send by MarketPlace</p>
          </div>
        </div>
          <div class=" mb-2 p-3 bg-light border">
          <h5>Colors: Orange</h5>
          <div>
            <img src="/images/orangecolor.webp" alt="iphone 17 pro" height="30" width="30">
          </div>
        </div>
      </div>
    </div>
</div>
